div {
  /*
  * dscc恩我热无
  */
  p,
  .text {
    line-height: 20px;
    color: #ccc;
    // background: url('');
  }

  h4 {
    opacity: .2;
  }

  h4 {
    opacity: .2;
  }

  @if (true) {
    h4 {
      height: 30px;
      background: rgba (0, 0, 0, .2);
      line-height: 0;
    }
  }

  .gsgs {
    color: #444;
  }

  div >p {
    color: #444333 !important;
  }
}